/* ============================================================================
FOR ALL 
============================================================================ */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* ============================================================================
CUSTOM PROPERTIES
============================================================================ */
:root {
  --ff-primary: "Source Sans Pro", sans-serif;
  --ff-secondary: "Source Code Pro", monospace;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #fff;
  --clr-dark: #303030;
  --clr-accent: #16e0bd;
  --clr-light-blue: #dfeffb;
  --clr-gray-blue: #adb9ca;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

/* Allows fonts to get smaller/bigger when you 
   increase/decrease the size of browser */
/* When secreen width is bigger than 870 */
@media (min-width: 870px) {
  :root {
    --fs-h1: 4rem;
    --fs-h2: 3.25rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

/* ============================================================================
GENERAL STYLES 
============================================================================ */
html {
  scroll-behavior: smooth;
}

body {
  background: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

section {
  padding: 5em 2em;
}

img {
  display: block;
  max-width: 100%;
}

strong {
  font-weight: var(--fw-bold);
}

:focus {
  outline: 2px solid var(--clr-accent);
  outline-offset: 2px;
}

::selection {
  background: #16e0be6c;
}

/* ============================================================================
BUTTONS 
============================================================================ */
.btn {
  display: inline-block;
  padding: 0.5em 1.5em;
  border: 2px solid var(--clr-gray-blue);
  color: var(--clr-gray-blue);
  text-decoration: none;
  cursor: pointer;
  font-size: 0.8em;
  font-weight: var(--fw-bold);
  letter-spacing: 2px;
  transition: transform 250ms ease-in-out, 500ms;
  margin: 1.5em 0 0;
  margin-right: 1em;
}

.btn:hover {
  /* transform: scale(1.05); */
  color: var(--clr-dark);
  border: 2px solid var(--clr-dark);
}

/* ============================================================================
TYPOGRAPHY
============================================================================ */
h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}

.section__title {
  margin-bottom: 0.25em;
}

.section__title--intro {
  font-weight: var(--fw-reg);
}

.section__title--intro strong {
  display: inline-block;
}

.title__links {
  margin: 0;
  font-family: var(--ff-primary);
  font-weight: var(--fw-bold);
  font-size: var(--fs-h3);
  color: var(--clr-gray-blue);
}

.t_link {
  color: inherit;
  text-decoration: none;
}

.bar2 {
  font-family: var(--ff-primary);
  font-weight: var(--fw-bold);
  font-size: var(--fs-h3);
  color: var(--clr-gray-blue);
}

.footer__text {
  font-size: 0.7em;
}

/* ============================================================================
HEADER SECTION 
============================================================================ */
header {
  display: block;
  justify-content: space-between;
  padding: 1em;
}

.logo {
  max-width: 200px;
}

/* ============================================================================
STCIKY HEADER SECTIONS (FOR JS USE)
============================================================================ */
.sticky {
  position: sticky;
  top: 0;
  width: 100%;
}

.header {
  background-color: var(--clr-light);
  padding-bottom: 0.5em;
  z-index: 100;
}

/* ============================================================================
NAVIGATION SECTION 
============================================================================ */
.nav {
  position: fixed;
  background-color: var(--clr-dark);
  /* background-color: #111; */
  color: var(--clr-light-blue);
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  width: 300px;
  transform: translateX(300px);
  transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}

.nav__list {
  list-style: none;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: left;
  margin: 0;
  padding: 2em;
}

.nav__link {
  display: block;
  padding: 10px;
  color: inherit;
  font-weight: var(--fw-bold);
  font-size: var(--fs-h3);
  text-decoration: none;
  transition: 500ms;
}

.nav__link:hover {
  color: var(--clr-accent);
}

.nav-toggle {
  padding: 0.5em;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  top: 1em;
  right: 1em;
  z-index: 1000;
  transition: 300ms;
}

.nav-toggle:hover {
  opacity: 0.7;
}

.nav-toggle:focus {
  outline: none;
}

/* .nav-open is when one clicks the hamburger */
.nav-open .nav {
  transform: translateX(0px);
}

.nav-open .nav-toggle {
  position: fixed;
}

.nav-open .hamburger {
  transform: rotate(405deg);
}

.nav-open .hamburger::before {
  transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
  opacity: 0;
}

.nav-open .hamburger,
.nav-open .hamburger::before,
.nav-open .hamburger::after {
  background-color: var(--clr-accent);
}

.hamburger {
  display: block;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  background-color: var(--clr-dark);
  width: 1.2em;
  height: 3px;
  border-radius: 1em;

  transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
}

.hamburger::before {
  top: 6px;
}

.hamburger::after {
  bottom: 6px;
}

/* ============================================================================
INTRO SECTION 
============================================================================ */
.intro {
  position: relative;
}

.intro__img {
  box-shadow: var(--bs);
  margin-bottom: 1em;
  max-width: 400px;
}

.title__links {
  list-style: none;
}

.title__links li {
  transition: 300ms;
}

.title__links li:hover {
  color: var(--clr-dark);
  cursor: pointer;
}

/* ===   When screen width is at least 680px   === */
@media (min-width: 680px) {
  .intro {
    display: grid;
    width: min-content;
    margin: 0 auto;
    margin-bottom: 1em;
    grid-template-areas:
      "bar2  img   img"
      "title title bar1"
      "links links bar1";
  }

  .intro__img {
    grid-area: img;
    min-width: 250px;
    max-width: 250px;
    position: relative;
    justify-self: flex-end;
  }

  .section__title--intro {
    grid-area: title;
    grid-column: -1/1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -4.3em;
    width: calc(100% + 4em);
    margin-bottom: 0.2em;
  }

  .below_title {
    grid-area: links;
  }

  .title__links {
    list-style: none;
    display: flex;
    text-align: right;
  }

  .title__links li {
    padding-left: 1em;
    width: 5.5em;
  }

  .bar1 {
    grid-area: bar1;
    background-color: gray;
    margin-left: 1em;
    margin-top: 1em;
    height: 87px;
    width: 8px;
  }

  .bar2 {
    grid-area: bar2;
    background-color: var(--clr-light-blue);
    margin-right: 0.5em;
    margin-top: 4.7em;
    height: 137px;
    width: 8px;
    justify-self: end;
    transform: translateX(7.8em);
  }

  .bar2 p {
    transform: rotate(-90deg);
    margin-top: -1.5em;
    margin-right: 1em;
  }
}

/* ===   This is for the middle-sized screen width      === */
/* ===   When screen width is between 680px and 869px   === */
@media (min-width: 680px) and (max-width: 869px) {
  /* .section__title--intro {
    width: 300px;
  } */

  .section__title--intro {
    grid-area: title;
    grid-column: -1/1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -4.3em;
    width: calc(100% + 4em);
    margin-bottom: 0.2em;
  }

  .bar1 {
    grid-area: bar1;
    background-color: gray;
    margin-left: 1em;
    margin-top: 1em;
    height: 65px;
    width: 8px;
  }

  .bar2 {
    grid-area: bar2;
    background-color: var(--clr-light-blue);
    margin-right: 0.5em;
    margin-top: 5.7em;
    height: 137px;
    width: 8px;
    justify-self: end;
    transform: translateX(6em);
  }

  .bar2 p {
    transform: rotate(-90deg);
    margin-top: -1.5em;
    margin-right: 1em;
    font-size: 1.2em;
  }
}

/* ===   This is for small screen widths      === */
/* ===   When screen width is less than 679px   === */
@media (max-width: 679px) {
  .intro__img {
    margin: 0 auto;
    margin-bottom: 2em;
    max-width: 250px;
  }

  .section__title--intro {
    text-align: center;
  }

  .bar2 p {
    text-align: center;
    font-size: 1.3em;
    margin-top: 0.5em;
    color: var(--clr-dark);
  }

  .bar2 p::after {
    content: "";
    display: block;
    width: 2em;
    height: 1px;
    margin: 0.5em auto 1em;
    background-color: var(--clr-gray-blue);
    opacity: 0.5;
  }

  .title__links {
    display: flex;
    text-align: center;
    padding-left: 0;
    justify-content: center;
  }

  .title__links li {
    padding-left: 1em;
    width: 5.5em;
  }
}

/* Some edge cases for mobile views only */
@media (max-width: 400px) {
  .title__links {
    display: block;
    text-align: center;
    padding-left: 0;
    align-items: center;
  }
  .title__links li {
    padding-left: 0;
    padding-top: 1em;
    margin: 0 auto;
  }
}

/* ============================================================================
ABOUT ME SECTION 
============================================================================ */
.about-me {
  max-width: 1000px;
  margin: 0 auto;
}

.about-me__img {
  box-shadow: var(--bs);
  transition: 500ms;
  max-width: 350px;
}

.about-me__skills {
  list-style: circle;
}

@media (min-width: 680px) {
  .about-me {
    display: grid;
    grid-template-columns: 1fr 350px;
    grid-template-areas:
      "title img"
      "text img";
    grid-column-gap: 2em;
  }

  .section__title--about {
    grid-area: title;
  }

  .about-me__img {
    grid-area: img;
    position: relative;
    z-index: 2;
    margin-top: 3em;
  }
}

@media (max-width: 680px) {
  .about-me__img {
    margin: 0 auto;
    margin-top: 3em;
  }

  .section__title--about {
    text-align: center;
  }

  .buttons {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 400px) {
  .about-me__img {
    max-width: 250px;
  }
}

/* ============================================================================
PROJECTS SECTION 
============================================================================ */
.my-work {
  color: var(--clr-dark);
  background-color: var(--clr-light);
  max-width: 1000px;
  margin: 0 auto;
  padding-top: 3.5em;
}

.section__title--work {
  margin-bottom: 1em;
}

.portfolio__tag {
  color: var(--clr-gray-blue);
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0.75rem auto;
}

.portfolio__tag li {
  margin-right: 2em;
  transition: 300ms;
}

.portfolio__tag li:hover {
  color: var(--clr-accent);
}

.portfolio a {
  text-decoration: none;
  color: inherit;
}

@media (min-width: 680px) {
  .portfolio {
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-areas:
      "img1 text1"
      "img2 text2"
      "img11 text11"
      "img3 text3"
      "img4 text4"
      "img12 text12"
      "img5 text5"
      "img6 text6"
      "img7 text7"
      "img8 text8"
      "img9 text9"
      "img10 text10"
      "img13 text13";
    grid-column-gap: 2em;
    grid-row-gap: 3em;
  }

  .portfolio p {
    margin: 0.75rem auto;
  }

  /* PORTFOLIO PROJECT 1*/
  .portfolio__item1 {
    grid-area: img1;
    background-color: var(--clr-light);
    max-width: 200px;
    overflow: hidden;
  }
  .portfolio__text1 {
    grid-area: text1;
  }

  /* PORTFOLIO PROJECT 2*/
  .portfolio__item2 {
    grid-area: img2;
    background-color: var(--clr-light);
    max-width: 200px;
    overflow: hidden;
  }
  .portfolio__text2 {
    grid-area: text2;
  }

  /* PORTFOLIO PROJECT 3*/
  .portfolio__item3 {
    grid-area: img3;
    background-color: var(--clr-light);
    max-width: 200px;
    overflow: hidden;
  }
  .portfolio__text3 {
    grid-area: text3;
  }

  /* PORTFOLIO PROJECT 4*/
  .portfolio__item4 {
    grid-area: img4;
    background-color: var(--clr-light);
    max-width: 200px;
    overflow: hidden;
  }
  .portfolio__text4 {
    grid-area: text4;
  }

  /* PORTFOLIO PROJECT 5*/
  .portfolio__item5 {
    grid-area: img5;
    background-color: var(--clr-light);
    max-width: 200px;
    overflow: hidden;
  }
  .portfolio__text5 {
    grid-area: text5;
  }

  /* PORTFOLIO PROJECT 6*/
  .portfolio__item6 {
    grid-area: img6;
    background-color: var(--clr-light);
    max-width: 200px;
    overflow: hidden;
  }
  .portfolio__text6 {
    grid-area: text6;
  }

  /* PORTFOLIO PROJECT 7*/
  .portfolio__item7 {
    grid-area: img7;
    background-color: var(--clr-light);
    max-width: 200px;
    overflow: hidden;
  }
  .portfolio__text7 {
    grid-area: text7;
  }

  /* PORTFOLIO PROJECT 8*/
  .portfolio__item8 {
    grid-area: img8;
    background-color: var(--clr-light);
    max-width: 200px;
    overflow: hidden;
  }
  .portfolio__text8 {
    grid-area: text8;
  }

  /* PORTFOLIO PROJECT 9*/
  .portfolio__item9 {
    grid-area: img9;
    background-color: var(--clr-light);
    max-width: 200px;
    overflow: hidden;
  }
  .portfolio__text9 {
    grid-area: text9;
  }

  /* PORTFOLIO PROJECT 10*/
  .portfolio__item10 {
    grid-area: img10;
    background-color: var(--clr-light);
    max-width: 200px;
    overflow: hidden;
  }
  .portfolio__text10 {
    grid-area: text10;
  }

  /* PORTFOLIO PROJECT 11*/
  .portfolio__item11 {
    grid-area: img11;
    background-color: var(--clr-light);
    max-width: 200px;
    overflow: hidden;
  }
  .portfolio__text11 {
    grid-area: text11;
  }

  /* PORTFOLIO PROJECT 12*/
  .portfolio__item12 {
    grid-area: img12;
    background-color: var(--clr-light);
    max-width: 200px;
    overflow: hidden;
  }
  .portfolio__text12 {
    grid-area: text12;
  }

  /* PORTFOLIO PROJECT 13*/
  .portfolio__item13 {
    grid-area: img13;
    background-color: var(--clr-light);
    max-width: 200px;
    overflow: hidden;
  }
  .portfolio__text13 {
    grid-area: text13;
  }

  .portfolio__img {
    transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1),
      opacity 250ms linear;
  }

  .portfolio__img:hover {
    transform: scale(1.2);
    opacity: 0.5;
  }
}

@media (max-width: 679px) {
  .portfolio {
    max-width: 350px;
    margin: 0 auto;
  }

  .section__title--work {
    text-align: center;
  }

  .portfolio h3 {
    margin-top: 1em;
  }

  .portfolio__tag {
    display: block;
    margin-bottom: 4em;
  }

  .portfolio__img {
    transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1),
      opacity 250ms linear;
  }

  .portfolio__img:hover {
    opacity: 0.5;
  }
}

/* ============================================================================
FOOTER SECTION 
============================================================================ */
.footer {
  background-color: #111;
  color: var(--clr-light-blue);
  text-align: center;
  padding: 2.5em 0 1.5em;
}

.footer a {
  color: inherit;
  text-decoration: none;
}

.footer__link {
  font-size: var(--fs-h3);
  font-weight: var(--fw-bold);
  padding: 0.3em;
  transition: 300ms;
}

.footer__link:hover,
.social-list__link:hover {
  color: var(--clr-accent);
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 2em 0 0;
}

.social-list__item {
  margin: 0 0.5em;
}

.social-list__link {
  padding: 0.5em;
  transition: 300ms;
}

.footer__text {
  margin: 3em 0 0;
}

/* ============================================================================
MORE ABOUT ME SECTION
============================================================================ */
.intro__more {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}
.more-about-me {
  margin: 0 auto;
  max-width: 800px;
}

.more-about-me-life {
  padding: 0 0em 2em;
  max-width: 800px;
  margin: 0 auto;
}
.more-about-me-life p {
  margin: 2em 0;
}
.more-about-me-life img {
  box-shadow: var(--bs);
}

.more-about-me-education {
  padding: 5em 0em 2em;
  max-width: 800px;
  margin: 0 auto;
}
.more-about-me-education p {
  margin: 0;
}
.more-about-me-education h2 {
  margin: 0 0 1em;
}
.more-about-me-education h3 {
  margin-top: 1em;
}
.more-about-me-education li {
  list-style: circle;
}
.more-about-me-education img {
  margin: 0 auto;
}

@media (max-width: 679px) {
  .more-about-me-education {
    max-width: 350px;
    padding: 3em 0 2em;
  }
  .more-about-me-education h2 {
    text-align: center;
  }
}

@media (min-width: 680px) {
  .education-list {
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-areas:
      "img1 text1"
      "img2 text2";
    grid-column-gap: 2em;
    grid-row-gap: 3em;
  }

  /* EDUCATION 1*/
  .edu__item1 {
    grid-area: img1;
    background-color: var(--clr-light);
    max-width: 200px;
    overflow: hidden;
  }
  .edu__text1 {
    grid-area: text1;
    margin-top: 0;
  }

  /* EDUCATION 2*/
  .edu__item2 {
    grid-area: img2;
    background-color: var(--clr-light);
    max-width: 200px;
    overflow: hidden;
  }
  .edu__text2 {
    grid-area: text2;
    margin-top: 0;
  }
}

.more-about-me-experiences {
  padding: 5em 0em 2em;
  max-width: 800px;
  margin: 0 auto;
}
.more-about-me-experiences h2 {
  margin: 0 0 1em;
}
.more-about-me-experiences p {
  margin: 0 0 1em;
}
.more-about-me-experiences img {
  margin: 0 auto;
}

/* Use :before for dash list-style */
.exp_list {
  list-style: none;
  padding: 10px;
}
.exp_list > li {
  text-indent: -10px;
}
.exp_list > li:before {
  content: "- ";
  text-indent: -10px;
}

@media (max-width: 679px) {
  .more-about-me-experiences {
    max-width: 350px;
  }
  .more-about-me-experiences h2 {
    text-align: center;
  }
}
@media (min-width: 680px) {
  .experiences-list {
    display: grid;
    grid-template-columns: 200px auto;
    grid-template-areas:
      "img1 text1"
      "img2 text2"
      "img3 text3";
    grid-column-gap: 2em;
    grid-row-gap: 3em;
  }

  /* EXPERIENCE 1*/
  .exp__item1 {
    grid-area: img1;
    background-color: var(--clr-light);
    max-width: 200px;
    overflow: hidden;
  }
  .exp__text1 {
    grid-area: text1;
    margin-top: 0;
  }

  /* EXPERIENCE 2*/
  .exp__item2 {
    grid-area: img2;
    background-color: var(--clr-light);
    max-width: 200px;
    overflow: hidden;
  }
  .exp__text2 {
    grid-area: text2;
    margin-top: 0;
  }

  /* EXPERIENCE 3*/
  .exp__item3 {
    grid-area: img3;
    background-color: var(--clr-light);
    max-width: 200px;
    overflow: hidden;
  }
  .exp__text3 {
    grid-area: text3;
    margin-top: 0;
  }
}

/* ============================================================================
INDIVIDUAL PORTFOLIO ITEM SECTIONS
============================================================================ */
.portfolio-item-individual {
  padding: 0 2em 2em;
  max-width: 800px;
  margin: 0 auto;
}
.portfolio-item-individual p {
  margin: 2em 0;
}
